// Splash 
#pageSplash(ng-controller="Splash", data-role='page')
  div(data-role='content')
    div
      p
        br
      p
        br
    div(style='text-align: center;')
      img(style='width: 188px; height: 75px;', src='img/c76e731665c1aa65Original_188x75.png')
    input(type='text', ng-model="username", name='username', value='',placeholder="Username")
    input(type='password', ng-model="password", name='password', value='',placeholder="Password")
    a(data-role='button', ng-click="login()")
      | Log In
    a(data-role='button', ng-click="loginWithFacebook()")
      | Log In With Facebook
    div
      a(data-transition='fade', href="#pageSignup")
        | Sign Up
    div
      a(data-transition='fade', ng-click="forgot()")
        | Forgot Password?

// ForgotPass
#pageForgotPass(data-add-back-btn="true",ng-controller="ForgotPass", data-role='page')
  div(data-role="header")
    h3 Password reset.
  div(data-role='content')
    p A reset email has been sent to your email address.

// Sign up 
#pageSignup(data-add-back-btn="true",ng-controller="Signup", data-role='page')
  div(data-role='content')
    div
      p
        br
      p
        br
    div(style='text-align: center;')
      img(style='width: 188px; height: 75px;', src='img/c76e731665c1aa65Original_188x75.png')
    input(type='text', ng-model="username", name='username', value='',placeholder="Username")
    input(type='password', ng-model="password", name='password', value='',placeholder="Password")
    input(type='password', ng-model="email", name='email', value='',placeholder="Email")
    a(data-role='button', ng-click="signup()")
      | Signup

// Home
#pageHome(data-add-back-btn="true", data-role='page', ng-controller="Home")
  div(data-role="header")
    h3 Home
  div(data-role='content')
    div(style='text-align: center;')
      img(style='width: 188px; height: 75px;', src='img/c76e731665c1aa65Original_188x75.png')
    a(ng-click="eatNow()",data-role='button', data-theme='b', href='#pageEatNow', data-icon='star', data-iconpos='left')
      | Eat Now!
    a(ng-click="eatLater()",data-role='button', data-theme='c', href='#pageEatLater', data-icon='star', data-iconpos='left')
      | Eat Later
    div(data-role='collapsible-set', data-theme='e', data-content-theme='b')
      div(data-role='collapsible', data-collapsed='true')
        h3
          | Account Settings
        input(ng-model="firstName",placeholder="First Name")
        input(ng-model="lastName",placeholder="Last Name")
        a(ng-click="saveSettings()",data-role='button')
          | Save Settings
        a(data-role='button', href='#pageManageSubscriptions', ng-click="manageSubscriptions()")
          | Manage Subscriptions
        a(data-role='button', href='#pageAccountsPayments', ng-click="accountsPayments()")
          | Accounts and Payments
        a(data-role='button', href='#pageNotificationsOptions', ng-click="notificationsOptions()")
          | Notifications and Options
  img(style='width: 48px; height: 48px;', src="http://www.crunchbase.com/assets/images/resized/0015/2241/152241v8-max-250x250.png")
  img(style='width: 48px; height: 48px;', src="http://mdzlog.files.wordpress.com/2011/05/singly-logo-20110527.png?w=700")
// Eat Now!
#pageEatNow(data-add-back-btn="true", data-role='page', ng-controller="EatNow")
  div(data-role='tabbar', data-iconpos='top', data-theme='a')
    ul
      li
        a(ng-class='{"ui-btn-active":!showMap,"ui-state-persist":!showMap}',href='#pageEatNow', data-theme='', data-icon='star', ng-click="tap(false)")
          | List View
      li
        a(ng-class='{"ui-btn-active":showMap,"ui-state-persist":showMap}', data-theme='', data-icon='map', ng-click="tap(true)")
          | Map View

  div(data-role="header")
    h3 Eat Now!
  div(data-role='content', ng-show="showMap")
    img(ng-src='{{mapSrc}}', height='200', width='288')
    ul(data-role='listview', data-divider-theme='b', data-inset='true')
      li(data-role='list-divider', role='heading')
        | Near Me Now
      li(ng-repeat="item in nearbys", ng-click="select(item.id)", data-theme='f')
        a(data-transition='slide')
          | {{item.name}} ({{item.street_address}})
          span.ui-li-count
            | {{item.discount}}%
  div(data-role='content', ng-show="!showMap")
    include searchrest

#pageGraphRestLater(data-add-back-btn="true", data-role='page', ng-controller="GraphTimeLater")
  div(data-role="header")
    h3 {{invervalTitle}}
  div(data-role='content')
#pageSelectTimeLater(data-add-back-btn="true", data-role='page', ng-controller="SelectTimeLater")
  div(data-role="header")
    h3 Select interval
  div(data-role='content')
    select(ng-model="selected", ng-options="value for value in options")

#pageGraphTimeLater(data-add-back-btn="true", data-role='page', ng-controller="GraphTimeLater")
  div(data-role="header")
    h3 {{restTitle}}
  div(data-role='content')
#pageSearchRestLater(data-add-back-btn="true", data-role='page', ng-controller="SearchRestLater")
  div(data-role="header")
    h3 Search restaurant
  div(data-role='content')
    include searchrest  

// Eat Later!
#pageEatLater(data-add-back-btn="true", data-role='page', ng-controller="EatLater")
  div(data-theme='a', data-role='header')
    h3
      | Header
  div(data-role='content')
    h3
      | Max Discount
    #placeholder(style="width:300px;height:300px")
    .row-fluid
      .span2
        a(data-role='button', ng-click='prev()')
          | Prev
      .span2
        a(data-role='button', ng-click='next()')
          | Next
    a(data-role='button', data-theme='b', href='#pageSearchRestLater', ng-click="searchRestLater()")
      | Search restuarant
    a(data-role='button', data-theme='b', href='#pageSelectTimeLater', ng-click="selectTimeLater()")
      | Select time
    a(data-role='button', data-theme='b', href='#pageInviteAFriend')
      | Invite a Friend
    a(data-role='button', href='#pageSubscribe')
      | Subscribe
    
// Subscribe
#pageSubscribe(data-add-back-btn="true", data-role='page', ng-controller="Subscribe")
  div(data-theme='a', data-role='header')
    h3
      | Header
  div(data-role='content')
    h2
      | Subscribe
    div
      p
        b
          | Find a restaurant:
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='searchinput3')
        input#searchinput3(name='', placeholder='', value='', type='search')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='slider1')
          | Number of weeks
        input(type='range', name='slider', value='2', min='0', max='10', data-highlight='false')
    div
      p
        b
          | Percent Discount:       xx%
    #checkboxes3(data-role='fieldcontain')
      fieldset(data-role='controlgroup', data-type='vertical', data-mini='true')
        legend
          | Choose days:
        input#checkbox9(name='Sunday', type='checkbox')
        label(for='checkbox9')
          | Sunday
        input#checkbox10(name='', type='checkbox')
        label(for='checkbox10')
          | Monday
        input#checkbox11(name='', type='checkbox')
        label(for='checkbox11')
          | Tuesday
        input#checkbox12(name='', type='checkbox')
        label(for='checkbox12')
          | Wednesday
        input#checkbox13(name='', type='checkbox')
        label(for='checkbox13')
          | Thursday
        input#checkbox14(name='', type='checkbox')
        label(for='checkbox14')
          | Friday
        input#checkbox15(name='', type='checkbox')
        label(for='checkbox15')
          | Saturday
        input#checkbox16(name='', type='checkbox')
        label(for='checkbox16')
          | Sunday
    a(data-role='button', href='#page8')
      | Select Items

// Manage Subscriptions
#pageManageSubscriptions(data-add-back-btn="true", data-role='page', ng-controller="ManageSubscriptions")
  div(data-role='content')
    h2
      | Manage Subscriptions
    ul(data-role='listview', data-divider-theme='b', data-inset='true')
      li(data-role='list-divider', role='heading')
        | Active Subscriptions
      li(data-theme='c')
        a(href='#page1', data-transition='slide')
          | Boloco (March)
          span.ui-li-count
            | 2 weeks rem.
    ul(data-role='listview', data-divider-theme='b', data-inset='true')
      li(data-role='list-divider', role='heading')
        | Past Subscriptions
      li(data-theme='c')
        a(href='#page1', data-transition='slide')
          | Boloco (MWF)
          span.ui-li-count
            | Resubscribe
      li(data-theme='c')
        a(href='#page1', data-transition='slide')
          | Danielle's (Feb)
          span.ui-li-count
            | Resubscribe
      li(data-theme='c')
        a(href='#page1', data-transition='slide')
          | Mac's Chili House
          span.ui-li-count
            | Resubscribe

// Lunch Date
#pageInviteAFriend(data-add-back-btn="true", data-role='page',ng-controller="LunchDate")
  div(data-theme='a', data-role='header')
    h3
      | Header
  div(data-role='content')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='textinput5')
          | Who do you want to invite?
        input#textinput5(name='', placeholder='Jane Smith', value='', type='text')
    div(data-role='fieldcontain')
      fieldset(data-role='controlgroup')
        label(for='textinput6')
          | Where are you eating?
        input#textinput6(name='', placeholder='Boloco', value='', type='text')
    div(data-role='fieldcontain')
      label(for='selectmenu12')
        | When are you eating?
      select(name='W', data-theme='c')
        option(value='option1')
          | 12:00
        option(value='value')
          | 12:15
        option(value='value')
          | 12:30
        option(value='value')
          | 12:45
        option(value='value')
          | 1:00
    a(data-role='button', ng-click="invite()")
      | Invite!

// Accounts and Payments
#pageAccountsPayments(data-add-back-btn="true", data-role='page',ng-controller="AccountsPayments")
  div(data-role="header")
    h3 Accounts and Payments
  div(data-role='content')
    ul(data-role='listview', data-divider-theme='b', data-inset='true')
      li(data-role='list-divider', role='heading')
        | Manage Accounts
      li(data-theme='c')
        a(href='#page21', data-transition='slide')
          | Accounts
      li(data-role='list-divider', role='heading')
        | Manage Payments
      li(data-theme='c')
        a(href='#page22', data-transition='slide')
          | Payments
// Eat Now Restaurant
#pageEatNowRestaurant(data-add-back-btn="true", data-role='page',ng-controller="EatNowRestaurant")
  div(data-role="header")
    h3 Eat Now Restaurant
  div(data-role='content')
    h2
      | {{name}}
    div
      p
        b
          | Time Left:
          span(style='color: rgb(255, 0, 0);')
            | {{twoDigits(timeLeft/60)}}:{{twoDigits(timeLeft%60)}} m
    div
      p
        b
          | Discount:
          span(style='color: rgb(10, 5, 127);')
            | {{discount}}%
    div(data-role='fieldcontain')
      label(for='selectmenu1')
        | Favorites
      select(ng-model="itemSelected",ng-options="value as value.name for value in favorites")
    div(data-role='fieldcontain')
      label(for='selectmenu2')
        | Quantity
      select(ng-model="quantitySelected")
        option(value='1')
          | 1
        option(value='2')
          | 2
        option(value='3')
          | 3
        option(value='4')
          | 4
        option(value='5')
          | 5
        option(value='6')
          | 6
        option(value='7')
          | 7
        option(value='8')
          | 8
        option(value='9')
          | 9
        option(value='10')
          | 10
    a(data-role='button', data-theme='b', ng-click="oneClick()", href="#pageConfirm")
      | 1 Click Order
    a(data-role='button', data-theme='b', ng-click="fullMenu()", href="#pageFullMenuRestaurant")
      | Full Menu
// Confirm
#pageConfirm(data-add-back-btn="true", data-role='page',ng-controller="Confirm")
  div(data-role="header")
    h3 Confirm Order
  div(data-role='content')
    h3 Your order is confirmed.
    br
    div
      div
        .row-fluid(style='font-size: small;', data-mce-style='font-size: small;')
          .span1(style='text-decoration: underline;', data-mce-style='text-decoration: underline;')
            | Item
          .span1(style='text-decoration: underline;', data-mce-style='text-decoration: underline;')
            | Qty
          .span1(style='text-decoration: underline;', data-mce-style='text-decoration: underline;')
            | Price
        .row-fluid(ng-repeat="cart in carts",style='font-size: small;', data-mce-style='font-size: small;')
          .span1
            | {{cart.name}}
          .span1
            | {{cart.quantity}}
          .span1
            | ${{cart.price.toFixed(2)}}
    a(data-role='button', ng-click="ok()")
      | OK

// Restaurant Subscription Active
#pageRestaurantSubscriptionActive(data-add-back-btn="true", data-role='page',ng-controller="RestaurantSubscriptionActive")
  div(data-role="header")
    h3 Restaurant Subscription Active
  div(data-role='content')
    div(data-role='navbar', data-iconpos='top')
      ul
        li
          a(href='#page1', data-theme='', data-icon='')
            | Home
        li
          a(href='#page10', data-theme='b', data-icon='')
            | Manage Subscriptions
    h2
      | Current Subscription
    div
      a(href='', data-transition='fade')
        | Resubscribe
    div
      a(href='', data-transition='fade')
        | Cancel
    div
      pre.
        \n                                    
                                        
      pre.
        \n                                    
                                        
      pre.
        \n                                    
                                        
    #checkboxes1(data-role='fieldcontain')
      fieldset(data-role='controlgroup', data-type='vertical', data-mini='true')
        legend
          | Days
        input#checkbox1(name='Monday', type='checkbox')
        label(for='checkbox1')
          | Monday
        input#checkbox2(name='', type='checkbox')
        label(for='checkbox2')
          | Tuesday
        input#checkbox3(name='', type='checkbox')
        label(for='checkbox3')
          | Wednesday
        input#checkbox4(name='', type='checkbox')
        label(for='checkbox4')
          | Thursday
        input#checkbox5(name='', type='checkbox')
        label(for='checkbox5')
          | Friday
        input#checkbox6(name='', type='checkbox')
        label(for='checkbox6')
          | Saturday
        input#checkbox7(name='', type='checkbox')
        label(for='checkbox7')
          | Sunday
// Cancel Subscription
#pageCancelSubscription(data-add-back-btn="true", data-role='page',ng-controller="CancelSubscription")
  div(data-role="header")
    h3 Cancel Subscription
  div(data-role='content')
    div(data-role='navbar', data-iconpos='top')
      ul
        li
          a(href='#page14', data-theme='', data-icon='')
            | Home
        li
          a(href='#page10', data-theme='', data-icon='')
            | Manage Subscriptions
    h2
      | Cancel Subscription
    div
      p
        b
          | Prepaid subscriptions cannot be cancelled for a current week.  Reduction
          | in subscription time will result in a prorated charge of discount
    a(data-role='button', href='#page14')
      | Go Back
    a(data-role='button', href='#page14')
      | Cancel
// Full Menu Boloco
#pageFullMenuRestaurant(data-add-back-btn="true", data-role='page', ng-controller="FullMenuRestaurant")
  div(data-role="header")
    h3 Full Menu {{name}}
  div(data-role='content')
    div(data-role='fieldcontain')
      label(for='selectmenu5')
        | Menu
      select(ng-model="selectedMenu", ng-options="menu as menu.name for menu in menus", ng-change="test()")
    div(data-role='fieldcontain')
      label(for='selectmenu6')
        | Quantity
      select(ng-model="selectedQuantity")
        option(value='1')
          | 1
        option(value='2')
          | 2
        option(value='3')
          | 3
        option(value='4')
          | 4
        option(value='5')
          | 5
        option(value='6')
          | 6
        option(value='7')
          | 7
        option(value='8')
          | 8
        option(value='9')
          | 9
        option(value='10')
          | 10
    div
      div
        .row-fluid(style='font-size: small;', data-mce-style='font-size: small;')
          .span1(style='text-decoration: underline;', data-mce-style='text-decoration: underline;')
            | Item
          .span1(style='text-decoration: underline;', data-mce-style='text-decoration: underline;')
            | Qty
          .span1(style='text-decoration: underline;', data-mce-style='text-decoration: underline;')
            | Price
        .row-fluid(ng-repeat="cart in carts",style='font-size: small;', data-mce-style='font-size: small;')
          .span1
            | {{cart.name}}
          .span1
            | {{cart.quantity}}
          .span1
            | ${{cart.price.toFixed(2)}}
    div
      .row-fluid
        .span1
        .span1
          | Total
        .span1
          | ${{total.toFixed(2)}}
    a(data-role='button', data-theme='b', ng-click="addToCart()")
      | Add To Cart
    a(data-role='button', data-theme='b', ng-click="oneClick()", href='#pageConfirm')
      | 1 Click Order
    a(data-role='button', data-theme='b', ng-click="checkOut()", href='#pageConfirm')
      | Checkout
